{% extends 'base.html' %}
{% block title %}
<head>
    <title>Wedding Invitation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1 class="display-4">You're Invited!</h1>
            <p class="lead">Join us for the wedding celebration of</p>
            <h2>Mircea & Andreea</h2>
            <p class="lead">Date: October 10, 2024</p>
            <p class="lead">Time: 3:00 PM</p>
            <p class="lead">Venue: Beautiful Garden Venue</p>
        </div>
    </div>
</body>

{% endblock %}