{% extends 'base.html' %}
{% load static %}

{% block title %}
<head>
<!--    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Great+Vibes&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'home.css' %}" type="text/css" >
</head>

<body>
    <div class="invitation-container">
            <div class="invitation">
                <h1>Cu inimile pline de emoție și bucurie, noi</h1>
                <h2>Mireasă & Mire</h2>
                <p>Vă invităm să fiți alături de noi la celebrarea căsătoriei noastre.</p>
                <div class="event-date">
                    <p>Data Evenimentului:</p>
                    <p><strong>29 mai 2025</strong></p>
                </div>
                <div class="parents">
                    <p>Alături ne vor fi părinții:</p>
                    <p><strong>Părinți mireasă</strong> & <strong>Părinți mire</strong></p>
                </div>
                <div class="godfather-godmother">
                    <p>Și nașii:</p>
                    <p><strong>Nașa</strong> & <strong>Nașul</strong></p>
                </div>
                <div class="church">
                    <p>Ne vom cununa religios la:</p>
                    <p><strong>Biserica "numele Bisericii"</strong> la ora <strong>12:00</strong></p>
                </div>
                <div class="party">
                    <p>Vom petrece împreună la <strong>Nume local</strong> la ora <strong>14:00</strong></p>
                    <p>Vă așteptăm cu drag!</p>
                </div>
            </div>
        <div class="position-absolute top-100 start-50 translate-middle">
            <a class="btn btn-outline-light" href="{% url 'guests:personalized_invitation' %}">Customizează</a>
        </div>
    </div>
</body>

{% endblock %}