{% extends 'base.html' %}
{% load static %}
{% block title %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'invitation.css' %}" type="text/css" >
</head>

<body>
    <div class="invitation-container">
        {% for item in personalizedinvitation_list %}
            <div class="invitation">
                <h1>Cu inimile pline de emoție și bucurie, noi</h1>
                <h2> {{ item.nume_mireasă }} & {{ item.nume_mire }} </h2>
                <p>Vă invităm să fiți alături de noi la celebrarea căsătoriei noastre.</p>
                <div class="event-date">
                    <p>Data Evenimentului:</p>
                    <p><strong> {{ item.dată_eveniment }} </strong></p>
                </div>
                <div class="parents">
                    <p>Alături ne vor fi părinții:</p>
                    <p><strong> {{ item.părinții_miresei }}</strong> & <strong>{{ item.părinții_mirelui }} </strong></p>
                </div>
                <div class="godfather-godmother">
                    <p>Și nașii:</p>
                    <p><strong>{{ item.nume_nașă }}</strong> & <strong>{{ item.nume_naș }}</strong></p>
                </div>
                <div class="church">
                    <p>Ne vom cununa religios la:</p>
                    <p>Biserica <strong>"{{ item.nume_biserică }}"</strong></strong> la ora <strong>{{ item.ora_cununie_religioasă }}</strong></p>
                </div>
                <div class="party">
                    <p>Vom petrece împreună la <strong>{{ item.local_petrecere }}</strong> la ora <strong>{{ item.ora_petrecere }}</strong></p>
                    <p>Vă așteptăm cu drag!</p>
                </div>
            </div>
        {% endfor %}
        <div class="position-absolute top-100 start-50 translate-middle">
<!--            -->
            <a class="btn btn-primary" href="{% if item.id %}{% url 'guests:update_invite' item.id %}{% endif %}">Modificare</a>

<!--            <button type="submit" class="btn btn-sm btn-success">Save</button>-->
        </div>
    </div>
</body>
{% endblock %}