<!DOCTYPE html>
<html>
  <head>
    <title>Locație Petrecere</title>

    <!-- The callback parameter is required, so we use console.debug as a noop -->
    <script async src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=console.debug&libraries=maps,marker&v=beta">
//    <script async src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=console.debug&libraries=maps,marker&v=beta">
    </script>

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      gmp-map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  {% for coordinates in address_list %}
      <gmp-map center="{{ coordinates.adresă_local }}" zoom="15" map-id="DEMO_MAP_ID">
      <gmp-advanced-marker position="{{ coordinates.adresă_local }}" title="LOCAȚIA PETRECERII - TE AȘTEPTĂM !!!"></gmp-advanced-marker>
      </gmp-map>
  {% endfor %}
  </body>
</html>
























