{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'login.css' %}" type="text/css" >
</head>

<body>
    <div class="container-login">
        <div class="card-login">
            <h2>Resetare de parolă trimisă cu succes!</h2>
            <p>Un link cu instrucțiuni despre resetarea parolei a fost trimis la adresa dumneavoastră de email.</p>
            <p>Dacă nu ați primit un email cu link pentru resetare, va rugam verificați dacă aceasta este adresa cu care v-ați creat cont. Verificați si in folderul de spam.</p>
            <p>Mulțumim!</p>
            <p>Vei fi redirecționat în 5 secunde către pagina de "Autentificare"!</p>
        </div>
    </div>

    <script>
        setTimeout(function() {
            window.location.href = "{% url 'login' %}";
        }, 5000);
    </script>
</body>