{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'login.css' %}" type="text/css" >
</head>

<body>
    <div class="container-login">
        <div class="card-login">
            <form method="post">
                {% csrf_token %}
                    <p>Introduceți adresa de email pentru a reseta parola:</p>
                    <div class="form-group">
                        <label for="id_email">Email:</label>
                        <input type="text" name="email" class="form-control" id="id_email">
                    </div>
                    <button type="submit" class="btn-style">Confirmă</button>
            </form>
        </div>
    </div>
</body>

